//Agenda slide
mixin agendaSlide(currSlideName)
  section
    h1 Agenda
    
    ul
      li(class=currSlideName == "Intro" ? "highlight" : "") Git clone
      li Design
      li Tools
      li Backend
      li AngularJS
      li Testing & TDD
      li Deploy to the cloud
      li Bootstrap
      li Item three..