//include assets/styles/styles.css
include mixins

section
  h1 Welcome!
  img(src="assets/logo.gif", alt="logo")

+agendaSlide()

section
  h2 Code sample
  pre.fragment
    code(data-trim, contenteditable).
      $.when(that(), other())
        .done(okay)
        .fail(notOkay);

+agendaSlide('Code Sample')

section
  section
    h2 Vertical slides?
  section
      h2 Yes indeed
      p Hello

+agendaSlide('Vertical slides')

section
    h2 The End!!